<header class="header z-10">
  <div class="header__wrapper">
    <button
      class="header__toggle"
      (click)="toggleSidebar()"
      *ngIf="headerConfig.headerMenuButtonVisible">
      <div class="header__toggle-bars">
        <span></span>
        <span></span>
      </div>
    </button>

    <button
      class="button-back ml-2.5 mt-2.5"
      (click)="location.back()"
      *ngIf="headerConfig.headerBackButtonVisible">
      <i class="fas fa-chevron-left"></i>
    </button>

    <button
      *ngIf="headerConfig.headerFavouriteButtonVisible"
      [ngClass]="{
        'favorite-button--active': isRestaurantFavourite,
        'favorite-button--inactive': !isRestaurantFavourite,
      }"
      class="favorite-button mr-2.5"
      (click)="toggleFavourite()">
      <i class="fas fa-heart favorite-button__icon"></i>
    </button>

    <div class="header__info" *ngIf="headerConfig.headerTitle">
      <p class="header__title">
        {{ headerConfig.headerTitle }}
        <i class="fa-solid fa-chevron-down header__chevron"></i>
      </p>
      <p class="header__subtitle">{{ headerConfig.headerSubtitle }}</p>
    </div>

    <img
      *ngIf="headerConfig.headerPictureDisplay"
      class="header__avatar"
      src="../../../assets/images/avatar.png"
      alt="User Avatar" />

    <div
      *ngIf="headerConfig.headerIcon"
      class="relative rounded-2xl shadow-orange-soft">
      <span
        *ngIf="totalQuantity > 0"
        class="absolute -right-1 -top-0.5 rounded bg-secondary px-0.5 text-xs text-white">
        {{ totalQuantity }}
      </span>
      <i [ngClass]="headerConfig.headerIconClass" class="p-3 text-primary"></i>
    </div>
  </div>
</header>
