<form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="space-y-8">
  <div *ngIf="!isLogin" class="flex flex-col">
    <label for="name" class="block text-sm font-medium text-gray-manatee">
      Full Name
    </label>
    <input
      id="name"
      formControlName="name"
      type="text"
      class="mt-1 w-full rounded-lg border-2 p-3 outline-none"
      [ngClass]="{
        'border-gray-light focus:border-primary':
          !authForm.controls['name'].invalid ||
          !authForm.controls['name'].touched,
        'border-red-500':
          authForm.controls['name'].invalid &&
          authForm.controls['name'].touched,
      }" />
    <div
      *ngIf="
        authForm.controls['name'].invalid && authForm.controls['name'].touched
      ">
      <small class="absolute mt-1 text-red-500">
        {{
          authForm.controls['name'].errors | controlErrorHandler: 'Name'
        }}</small
      >
    </div>
  </div>

  <div class="flex w-full flex-col">
    <label for="email" class="block text-sm font-medium text-gray-manatee">
      Email</label
    >
    <input
      id="email"
      formControlName="email"
      type="email"
      class="mt-1 w-full rounded-lg border-2 p-3 outline-none"
      [ngClass]="{
        'border-gray-light focus:border-primary':
          !authForm.controls['email'].invalid ||
          !authForm.controls['email'].touched,
        'border-red-500':
          authForm.controls['email'].invalid &&
          authForm.controls['email'].touched,
      }" />
    <div
      *ngIf="
        authForm.controls['email'].invalid && authForm.controls['email'].touched
      ">
      <small class="absolute mt-1 text-red-500">{{
        authForm.controls['email'].errors | controlErrorHandler: 'Email'
      }}</small>
    </div>
  </div>

  <div class="flex flex-col">
    <label for="password" class="block text-sm font-medium text-gray-manatee">
      Password
    </label>
    <input
      id="password"
      formControlName="password"
      type="password"
      class="mt-1 w-full rounded-lg border-2 p-3 outline-none"
      [ngClass]="{
        'border-gray-light focus:border-primary':
          !authForm.controls['password'].invalid ||
          !authForm.controls['password'].touched,
        'border-red-500':
          authForm.controls['password'].invalid &&
          authForm.controls['password'].touched,
      }" />
    <div
      *ngIf="
        authForm.controls['password'].invalid &&
        authForm.controls['password'].touched
      ">
      <small class="absolute mt-1 text-red-500">
        {{
          authForm.controls['password'].errors | controlErrorHandler: 'Password'
        }}
      </small>
    </div>
  </div>

  <button
    type="submit"
    [disabled]="authForm.invalid"
    class="m-auto flex min-w-64 items-center justify-center rounded-full bg-primary px-16 py-6 text-base tracking-widest text-white shadow-main-button">
    {{ isLogin ? ('Login' | uppercase) : ('Sign up' | uppercase) }}
  </button>
</form>
