<div class="review-restaurant">
  <section class="review-restaurant__top-section">
    <div class="review-restaurant__banner">
      <img
        [src]="restaurant?.imgUrl"
        alt="restaurant-banner"
        class="review-restaurant__image" />
    </div>

    <div class="review-restaurant__profile">
      <img
        [src]="restaurant?.logoUrl"
        alt="RestaurantLogo"
        class="review-restaurant__logo" />

      <h2 class="mt-2.5 text-xl font-semibold leading-8">
        {{ restaurant?.name }}
      </h2>

      <p class="text-sm text-gray-manatee">{{ restaurant?.address }}</p>

      <div class="mt-3.5 flex items-center gap-1">
        <div class="h-1 w-1 rounded-full bg-green-500"></div>
        <p class="text-green-500">Order delivered</p>
      </div>
    </div>
  </section>
  <div class="flex flex-col justify-center">
    <h3 class="text-center text-lg font-semibold">
      Please Rate Delivery Service
    </h3>

    <form
      [formGroup]="reviewForm"
      (ngSubmit)="submitReview()"
      class="flex flex-col items-center space-y-7">
      <div class="text-center">
        <p class="min-h-6" [ngStyle]="{ color: getRatingInfo(rating).color }">
          {{ getRatingInfo(rating).text }}
        </p>
        <div class="flex items-center space-x-1">
          <div *ngFor="let star of [1, 2, 3, 4, 5]">
            <input
              type="radio"
              [value]="star"
              formControlName="rating"
              id="star-{{ star }}"
              class="hidden" />
            <label for="star-{{ star }}" class="cursor-pointer">
              <i
                class="fa-star text-3xl text-secondary"
                [ngClass]="{
                  'fa-solid': rating >= star,
                  'fa-regular': rating < star,
                }"></i>
            </label>
          </div>
        </div>
      </div>

      <textarea
        class="h-24 w-full max-w-md rounded-lg border p-3 focus:ring focus:ring-primary">
      </textarea>

      <button
        type="submit"
        [disabled]="rating === 0"
        [ngStyle]="{
          cursor: rating === 0 ? 'not-allowed' : 'pointer',
          opacity: rating === 0 ? '0.5' : '1',
        }"
        class="m-auto flex min-w-64 items-center justify-center rounded-full bg-primary px-16 py-6 text-base uppercase tracking-widest text-white shadow-main-button">
        Submit
      </button>
    </form>
  </div>
</div>
