<div
  class="m-auto flex w-full flex-col justify-center sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-3/5 2xl:w-1/2">
  <form [formGroup]="cardForm" (ngSubmit)="saveCard()" class="z-10 space-y-7">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-manatee">
        Name
      </label>
      <input
        id="name"
        formControlName="name"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      <div *ngIf="name?.invalid && name?.touched">
        <small class="text-red-500">
          {{ cardForm.controls['name'].errors | controlErrorHandler: 'name' }}
        </small>
      </div>
    </div>

    <div class="relative">
      <label for="number" class="block text-sm font-medium text-gray-manatee">
        Card Number
      </label>
      <input
        id="number"
        formControlName="number"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 pr-14 outline-none focus:border-none focus:ring focus:ring-primary"
        placeholder="XXXX XXXX XXXX XXXX"
        [mask]="'0000 0000 0000 0000'" />

      <div class="absolute right-3 top-1/2">
        <img
          *ngIf="number?.value | cardType as cardImage"
          [src]="cardImage"
          alt="Card"
          class="h-6 w-6" />
      </div>

      <div *ngIf="number?.invalid && number?.touched">
        <small class="absolute text-red-500">
          {{
            cardForm.controls['number'].errors
              | controlErrorHandler: 'Card Number'
          }}
        </small>
      </div>
    </div>

    <div class="flex space-x-4">
      <div class="w-1/2">
        <label
          for="expires"
          class="block text-sm font-medium text-gray-manatee">
          Expiry Date
        </label>
        <input
          id="expires"
          formControlName="expires"
          class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary"
          placeholder="MM/YY"
          maxlength="5"
          [dropSpecialCharacters]="false"
          [mask]="'00/00'" />
        <div *ngIf="expires?.invalid && expires?.touched" class="text-red-500">
          <small class="text-red-500">
            {{
              cardForm.controls['expires'].errors
                | controlErrorHandler: 'Expires'
            }}
          </small>
        </div>
      </div>

      <div class="w-1/2">
        <label for="cvv" class="block text-sm font-medium text-gray-manatee">
          CVV
        </label>
        <input
          id="cvv"
          formControlName="cvv"
          type="password"
          class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary"
          placeholder="CVV"
          maxlength="3" />
        <div *ngIf="cvv?.invalid && cvv?.touched" class="text-red-500">
          <small class="text-red-500">
            {{ cardForm.controls['cvv'].errors | controlErrorHandler: 'CVV' }}
          </small>
        </div>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="cardForm.invalid"
      [ngStyle]="{
        cursor: cardForm.invalid ? 'not-allowed' : 'pointer',
        opacity: cardForm.invalid ? '0.5' : '1',
      }"
      appTooltip="Click to submit the form"
      class="m-auto flex min-w-64 items-center justify-center rounded-full bg-primary px-16 py-6 text-base uppercase tracking-widest text-white shadow-main-button">
      Save
    </button>
  </form>
</div>
