<main class="main">
  <div
    class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <h2 class="mb-4 text-2xl font-bold">Restaurants</h2>
    @for (restaurant of restaurants; track restaurant) {
      <app-primary-card
        [data]="restaurant"
        [config]="configRestaurant"
        (toggleFavorite)="onToggleFavourite($event)" />
    }
  </div>

  <div
    class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <h2 class="mb-4 text-2xl font-bold">Restaurants (secondary-card)</h2>
    @for (restaurant of restaurants; track restaurant) {
      <app-secondary-card
        [data]="restaurant"
        [config]="configRestaurant"
        (toggleFavorite)="onToggleFavourite($event)" />
    }
  </div>

  <div
    class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <h2 class="mb-4 text-2xl font-bold">Dishes</h2>
    @for (dish of dishes; track dish) {
      <app-primary-card
        [data]="dish"
        [config]="configDish"
        (toggleFavorite)="onToggleFavourite($event)" />
    }
  </div>

  <div
    class="grid grid-cols-1 gap-6 p-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <h2 class="mb-4 text-2xl font-bold">Dishes (secondary-card)</h2>
    @for (dish of dishes; track dish) {
      <app-secondary-card
        [data]="dish"
        [config]="configDish"
        (toggleFavorite)="onToggleFavourite($event)" />
    }
  </div>
</main>
