<div
  class="m-auto flex w-full flex-col justify-center sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-3/5 2xl:w-1/2">
  <app-decorative-shapes />
  <app-user-info
    *ngIf="user"
    [user]="user"
    [displayEmail]="false"
    class="flex flex-col items-center" />
  <form
    [formGroup]="userProfileForm"
    (ngSubmit)="updateProfile()"
    class="z-10 mt-11 space-y-6">
    <div>
      <label for="name" class="block text-sm font-medium text-gray-manatee">
        Full name
      </label>
      <input
        id="name"
        formControlName="name"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      <div
        *ngIf="
          userProfileForm.get('name')?.invalid &&
          userProfileForm.get('name')?.touched
        "
        class="mt-1 text-sm text-red-500">
        <span *ngIf="userProfileForm.get('name')?.errors?.['required']">
          Full name is required.
        </span>
        <span *ngIf="userProfileForm.get('name')?.errors?.['minlength']">
          Full name must be at least 3 characters long.
        </span>
        <span *ngIf="userProfileForm.get('name')?.errors?.['maxlength']">
          Full name cannot be longer than 50 characters.
        </span>
      </div>
    </div>
    <div>
      <label for="email" class="block text-sm font-medium text-gray-manatee">
        E-mail:
      </label>
      <input
        id="email"
        formControlName="email"
        type="email"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      <div
        *ngIf="
          userProfileForm.get('email')?.invalid &&
          userProfileForm.get('email')?.touched
        "
        class="mt-1 text-sm text-red-500">
        <span *ngIf="userProfileForm.get('email')?.errors?.['required']">
          E-mail is required.
        </span>
        <span *ngIf="userProfileForm.get('email')?.errors?.['email']">
          Please enter a valid e-mail address.
        </span>
      </div>
    </div>

    <div>
      <label
        for="phoneNumber"
        class="block text-sm font-medium text-gray-manatee">
        Phone Number
      </label>
      <input
        id="phoneNumber"
        formControlName="phoneNumber"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
    </div>

    <div formGroupName="deliveryAddress" class="mt-6 space-y-6">
      <div>
        <label for="city" class="block text-sm font-medium text-gray-manatee">
          City
        </label>
        <input
          id="city"
          formControlName="city"
          (blur)="onCityBlur()"
          class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      </div>
      <div>
        <label for="region" class="block text-sm font-medium text-gray-manatee">
          Region
        </label>
        <input
          id="region"
          formControlName="region"
          class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      </div>

      <div>
        <label for="street" class="block text-sm font-medium text-gray-manatee">
          Street
        </label>
        <input
          id="street"
          formControlName="street"
          class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      </div>
    </div>

    <div>
      <label
        for="novaPostDepartment"
        class="block text-sm font-medium text-gray-manatee">
        Nova Poshta Department
      </label>
      <select
        id="novaPostDepartment"
        formControlName="novaPostDepartment"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary">
        <option
          *ngFor="let department of novaPostDepartments"
          [value]="department">
          {{ department }}
        </option>
      </select>
    </div>
    <div>
      <label for="age" class="block text-sm font-medium text-gray-manatee">
        Age
      </label>
      <input
        id="age"
        formControlName="age"
        type="number"
        class="mt-1 w-full rounded-lg border border-gray-light p-3 outline-none focus:border-none focus:ring focus:ring-primary" />
      <div
        *ngIf="
          userProfileForm.get('age')?.invalid &&
          userProfileForm.get('age')?.touched
        "
        class="mt-1 text-xs text-red-500">
        <div *ngIf="userProfileForm.get('age')?.hasError('min')">
          Age must be at least 16 years old.
        </div>
      </div>
    </div>

    <button
      type="submit"
      [disabled]="userProfileForm.invalid"
      class="m-auto flex min-w-64 items-center justify-center rounded-full bg-primary px-16 py-6 text-base tracking-widest text-white shadow-main-button">
      Update
    </button>
  </form>
</div>
