@use '../../../../styles/base/mixins' as *;
@use '../../../../styles/base/variables' as *;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    font-size: 24px;
    color: $gray-light;
    @include centered-container($container-extra-large);

    .active i {
      color: $primary-color;
    }
  }
}
