<div
  class="m-auto flex w-full flex-col justify-center sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-3/5 2xl:w-1/2">
  <div class="grid w-full grid-cols-2 rounded-full border p-1">
    <button
      (click)="switchTab(OrderType.Upcoming)"
      [ngClass]="{ 'bg-primary text-white': activeTab === OrderType.Upcoming }"
      class="w-full rounded-full py-4 text-center text-primary transition-colors duration-300">
      Upcoming
    </button>
    <button
      (click)="switchTab(OrderType.History)"
      [ngClass]="{ 'bg-primary text-white': activeTab === OrderType.History }"
      class="w-full rounded-full py-4 text-center text-primary transition-colors duration-300">
      History
    </button>
  </div>

  <div *ngIf="activeTab === OrderType.Upcoming" class="mt-4 space-y-4">
    <p
      *ngIf="upcomingOrders.length === 0"
      class="absolute bottom-1/2 left-0 right-0 translate-y-1/2 text-center text-xl font-semibold text-gray-manatee">
      You don't have any upcoming orders yet
    </p>
    <app-order-card
      *ngFor="let order of upcomingOrders"
      [order]="order"
      [orderType]="OrderType.Upcoming"></app-order-card>
  </div>

  <div *ngIf="activeTab === OrderType.History" class="mt-4 space-y-4">
    <p
      *ngIf="historyOrders.length === 0"
      class="absolute bottom-1/2 left-0 right-0 translate-y-1/2 text-center text-xl font-semibold text-gray-manatee">
      Your order history is empty.
    </p>
    <app-order-card
      *ngFor="let order of historyOrders"
      [order]="order"
      [orderType]="OrderType.History"></app-order-card>
  </div>
</div>
