<div
  class="m-auto flex w-full flex-col justify-center sm:w-3/4 md:w-2/3 lg:w-3/5 xl:w-3/5 2xl:w-1/2">
  <div class="grid w-full grid-cols-2 rounded-full border p-1">
    <button
      (click)="switchTab('upcoming')"
      [ngClass]="{ 'bg-primary text-white': activeTab === 'upcoming' }"
      class="w-full rounded-full py-4 text-center text-primary transition-colors duration-300">
      Upcoming
    </button>
    <button
      (click)="switchTab('history')"
      [ngClass]="{ 'bg-primary text-white': activeTab === 'history' }"
      class="w-full rounded-full py-4 text-center text-primary transition-colors duration-300">
      History
    </button>
  </div>

  <div *ngIf="activeTab === 'upcoming'" class="mt-4 space-y-4">
    <app-order-card
      *ngFor="let order of upcomingOrders"
      [order]="order"
      [orderType]="'upcoming'"></app-order-card>
  </div>

  <div *ngIf="activeTab === 'history'" class="mt-4 space-y-4">
    <app-order-card
      *ngFor="let order of historyOrders"
      [order]="order"
      [orderType]="'history'"></app-order-card>
  </div>
</div>
