<div class="relative h-full overflow-hidden rounded-3xl bg-white shadow-lg">
  <div class="relative">
    <img
      [src]="card.data.imgUrl"
      alt="{{ card.data.name }}"
      class="h-44 w-full rounded-3xl object-cover" />

    <div
      class="absolute left-3 top-3 rounded-3xl bg-white p-2 text-sm"
      *ngIf="card.type === CardTypeEnum.Dish">
      <span class="font-bold text-black">{{
        foodItemData.price | currency
      }}</span>
    </div>

    <div
      class="absolute left-3 top-3 rounded-3xl bg-white p-2 shadow-lg"
      [ngClass]="{
        'top-3 text-sm': card.type === CardTypeEnum.Restaurant,
        'bottom-0 translate-y-1/2 transform text-tiny':
          card.type === CardTypeEnum.Dish,
      }">
      <span class="font-bold text-black">{{ card.data.rating }}</span>
      <i class="fas fa-star ml-1 text-secondary"></i>
      <span class="ml-1 text-gray-manatee" *ngIf="card.data.feedbacks">
        ({{ card.data.feedbacks | formatRatingCount }})
      </span>
    </div>

    <button
      (click)="onToggleFavorite($event, card.data.id, card.type)"
      [ngClass]="{
        'bg-primary': card.data.isFavourite,
        'bg-whiteTransparent backdrop-blur-5xl': !card.data.isFavourite,
      }"
      class="absolute right-3 top-3 flex rounded-full p-2 shadow-md focus:outline-none">
      <i class="fas fa-heart text-pink-light"></i>
    </button>
  </div>

  <div class="p-3">
    <div class="flex items-center justify-between">
      <h3
        class="text-lg font-bold text-gray-dark"
        [ngClass]="{ 'mt-2': card.type === CardTypeEnum.Dish }">
        {{ card.data.name }}
      </h3>
    </div>

    <div
      class="my-2 flex items-center space-x-2 text-sm text-gray-abbey"
      *ngIf="card.type === CardTypeEnum.Dish">
      <span>{{ foodItemData.ingredients?.join(', ') }}</span>
    </div>

    <div
      class="my-2 flex items-center space-x-2 text-sm text-gray-abbey"
      *ngIf="card.type === CardTypeEnum.Restaurant">
      <div class="flex items-center">
        <img
          src="../../../../assets/icons/delivery-free.svg"
          alt="Delivery Free"
          class="mr-1 h-4 w-4" />
        @if (restaurantData.delivery.cost) {
          <span>{{ '$' + restaurantData.delivery.cost + ' delivery' }}</span>
        } @else {
          <span>free</span>
        }
      </div>

      <div class="flex items-center">
        <img
          src="../../../../assets/icons/delivery-time.svg"
          alt="Delivery Time"
          class="mr-1 h-4 w-4" />
        <span>{{ restaurantData.delivery.time }} mins</span>
      </div>
    </div>

    <div
      class="my-2 flex flex-wrap gap-2"
      *ngIf="card.type === CardTypeEnum.Restaurant">
      <span
        *ngFor="let category of restaurantData.categories"
        class="rounded-md bg-gray-ultra-light px-2 py-1 text-xs uppercase text-gray-abbey">
        {{ category }}
      </span>
    </div>
  </div>
</div>
