<div class="relative w-80 overflow-hidden rounded-3xl bg-white shadow-lg">
  <div class="relative">
    <img
      [src]="data.imageUrl"
      alt="{{ data.name }}"
      class="h-44 w-full rounded-3xl object-cover" />

    <div
      class="absolute top-3 left-3 rounded-3xl bg-white p-2 text-sm"
      *ngIf="config.displayPrice">
      <span class="font-bold text-black">{{ data.price | currency }}</span>
    </div>

    <div
      class="absolute top-3 left-3 rounded-3xl bg-white p-2 shadow-lg"
      [ngClass]="{
        'top-3 text-sm': !config.displayPrice,
        'bottom-0 transform translate-y-1/2 text-[10px]': config.displayPrice,
      }"
      *ngIf="data.rating !== undefined && data.reviews !== undefined">
      <span class="font-bold text-black">{{ data.rating }}</span>
      <i class="fas fa-star ml-1 text-yellow-500"></i>
      <span class="ml-1 text-gray-500">
        ({{ data.reviews | formatRatingCount }})
      </span>
    </div>

    <button
      [ngClass]="{
        'bg-[#FE724C]': data.isFavorite,
        'bg-[#FFFFFF33]': !data.isFavorite,
      }"
      class="absolute top-3 right-3 rounded-full shadow-md hover:bg-gray-200 focus:outline-none flex p-2">
      <i class="fas fa-heart text-white"></i>
    </button>
  </div>

  <div class="p-3">
    <div class="flex items-center justify-between">
      <h3 class="text-lg font-bold" [ngClass]="{ 'mt-2': config.displayPrice }">
        {{ data.name }}
      </h3>
    </div>

    <div
      class="my-2 flex items-center text-sm text-gray-600 space-x-2"
      *ngIf="config.displayIngredients">
      <span>{{ data.ingredients }}</span>
    </div>

    <div
      class="my-2 flex items-center text-sm text-gray-600 space-x-2"
      *ngIf="config.displayDeliveryInfo">
      <div class="flex items-center">
        <img
          src="../../../../assets/icons/delivery-free.svg"
          alt="Delivery Free"
          class="mr-1 h-4 w-4" />
        <span *ngIf="data.isDeliveryFree">free delivery</span>
        <span *ngIf="!data.isDeliveryFree">
          {{ '$' + data.deliveryCost + ' delivery' }}
        </span>
      </div>

      <div class="flex items-center">
        <img
          src="../../../../assets/icons/delivery-time.svg"
          alt="Delivery Time"
          class="mr-1 h-4 w-4" />
        <span>{{ data.deliveryTime }}</span>
      </div>
    </div>

    <div class="my-2 flex flex-wrap gap-2" *ngIf="config.displayCategories">
      <span
        *ngFor="let category of data.categories"
        class="rounded-md bg-gray-200 px-2 py-1 text-xs uppercase text-gray-600">
        {{ category }}
      </span>
    </div>
  </div>
</div>
