<div class="home">
  <app-header
    title="Deliver to"
    subtitle="4102 Pretty View Lane"
    [showAvatar]="configAvatar" />
  <button class="logout-button" (click)="logOut()">
    <i class="fas fa-power-off"></i> Log Out
  </button>
  <h1 class="title-first">What would you like to order</h1>

  <div class="restaurants">
    <div class="restaurants__header">
      <h2 class="title-secondary">Featured restaurants</h2>
      <a href="#" class="link-view-all">View All</a>
    </div>
    <div class="restaurants__carousel">
      <div class="restaurants__list">
        @for (restaurant of restaurants$ | async; track restaurant.id) {
          <a [routerLink]="['/restaurants', restaurant.id]"
            ><div class="restaurants__card">
              <app-primary-card
                [card]="{ type: CardTypeEnum.Restaurant, data: restaurant }"
                (toggleFavorite)="onToggleFavourite(restaurant.id)" /></div
          ></a>
        }
      </div>
    </div>
  </div>

  <app-footer />
</div>
