/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/base/typography';
@use './styles/base/mixins' as *;
@use './styles/base/variables' as *;
@use './styles/base/buttons';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

app-restaurant-details {
  flex: 1;
}

.mat-mdc-progress-bar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;

  @include mat.progress-bar-overrides(
    (
      active-indicator-color: $gray-ultra-light,
      track-color: $primary-color,
    )
  );
}
