$container-extra-large: 1200px;

$primary-color: #fe724c;
$secondary-color: #ffc529;

$gray-light: #d3d1d8;
$gray-ultra-light: #f6f6f6;
$gray-dark: #1a1d26;
$gray-abbey: #515154;

$pink-light: #ecdcdc;

$white-transparent: #ffffff33;

$orange-muted: #fe724c40;
